*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background: #faf7f2;;
}

.navbar{
background:#ffffff;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.logo{
font-size:28px;
font-weight:700;
color:#8b5e3c;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:#2b2b2b;
}

.nav-links a:hover{
    color:#c9a227;
}
.hero{
height:70vh;
background:url('https://th.bing.com/th/id/OIP.adbJCF1qaEqhTVOqlJSxGgHaJQ?r=0&o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3')
center/cover;
position:relative;
display:flex;
justify-content:center;
align-items:center;
}

.overlay{
position:absolute;
inset:0;
background:rgba(6, 6, 6, 0.5);
}

.hero-content{
position:relative;
color:white;
text-align:center;
}

.hero-content h1{
font-size:65px;
margin-bottom:15px;
}

.hero-content p{
font-size:22px;
}

.products{
padding:90px 8%;
}

.products h2{
text-align:center;
font-size:45px;
color:#8b5e3c;
margin-bottom:50px;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.product-card{
background:#ffffff;
border:1px solid #ede296;
border-radius:18px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.4s;
}

.product-card:hover{
transform:translateY(-10px);
}

.product-card img{
width:100%;
height:400px;
object-fit:cover;
}

.product-card h3{
padding:15px;
color:#2b2b2b;
}

.product-card p{
padding:0 15px 15px;
font-weight:600;
color:#8b5e3c;
}

.buttons{
padding:15px;
display:flex;
gap:10px;
}

.buttons button{
padding:12px;
border:none;
background:#c9a227;
color:#ffffff;
font-weight:600;
cursor:pointer;
border-radius:8px;
}
.buttons button:hover{
    background-color: #a8841e;
}
footer{
background:#2b2b2b;
color:#ffffff;
text-align:center;
padding:30px;
}

footer h3{
color:#c9a227;
margin-bottom:10px;
}

/* MOBILE MENU */

.menu-toggle{
    display:none;
    font-size:28px;
    cursor:pointer;
    color:#8b5e3c;
}


@media(max-width:900px){

    .menu-toggle{
        display:block;
    }


    .nav-icons{
        display:none;
    }


    .navbar{
        position:relative;
    }


    .nav-links{

        display:none !important;
        position:absolute;
        top:90px;
        left:0;
         
        width:100%;
        background:#ffffff;

        flex-direction:column;
       

        gap:30px;

        padding: 20px;

        z-index:999;

    }


    .nav-links.active{

        display:flex !important;

    }
    .hero-content h1{
       font-size:20px ;
    }
    .hero-content p{
       font-size:16px;
    }
    .products h2{
        font-size: 26px;
    }

}